%p {
  font-family: "GR", sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}

%bold {
  font-family: "GS", sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}

%GR12 {
  font-family: "GR", sans-serif;
  font-size: 0.75rem;
  line-height: 1.4;
}

%GS22 {
  font-family: "GS", sans-serif;
  font-size: 1.375rem;
  line-height: 1.3;
}

%GS18 {
  font-family: "GS", sans-serif;
  font-size: 1.125rem;
  line-height: 1.3;
}
