@import "./fonts";
@import "./vars";
@import "./extends";

body {
  font-family: "GR", sans-serif;
  font-size: 16px;
  min-width: 320px;
  color: $txt;
}

.container {
  max-width: 1430px;
}

main {
  @extend %p;
}

.decor-header {
  background: linear-gradient(
    80deg,
    #ffb862 0%,
    #ff9a3d 20.13%,
    #d3e5cf 65.66%,
    #697466 100%
  );

  &__wrapper {
    padding: 0.44rem 0;
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-image: url("../assets/img/pic/decor.png");
    background-size: contain;
    background-position: 100% 50%;
    background-repeat: no-repeat;
  }

  &__text {
    @extend %bold;
    color: $white;
    margin-right: 3.1rem;
  }

  &__button {
    font-family: "GS", sans-serif;
    font-size: 0.875rem;
    color: $white;
    border-radius: 50px;
    border: 1px solid $white;
    padding: 0.5rem 1.25rem;
    background-color: transparent;
    transition: 0.3s all;

    &:hover {
      background-color: $main;
      border-color: $main;
    }
  }
}
