@font-face {
  font-family: "GR";
  src: url("../assets/fonts/Gilroy-Regular.eot");
  src: url("../assets/fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gilroy-Regular.woff2") format("woff2"), url("../assets/fonts/Gilroy-Regular.woff") format("woff"), url("../assets/fonts/Gilroy-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "GS";
  src: url("../assets/fonts/Gilroy-SemiBold.eot");
  src: url("../assets/fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../assets/fonts/Gilroy-SemiBold.woff") format("woff"), url("../assets/fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-style: normal;
}
main {
  font-family: "GR", sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}

.decor-header__text {
  font-family: "GS", sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}

body {
  font-family: "GR", sans-serif;
  font-size: 16px;
  min-width: 320px;
  color: #192040;
}

.container {
  max-width: 1430px;
}

.decor-header {
  background: linear-gradient(80deg, #ffb862 0%, #ff9a3d 20.13%, #d3e5cf 65.66%, #697466 100%);
}
.decor-header__wrapper {
  padding: 0.44rem 0;
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-image: url("../assets/img/pic/decor.png");
  background-size: contain;
  background-position: 100% 50%;
  background-repeat: no-repeat;
}
.decor-header__text {
  color: #ffffff;
  margin-right: 3.1rem;
}
.decor-header__button {
  font-family: "GS", sans-serif;
  font-size: 0.875rem;
  color: #ffffff;
  border-radius: 50px;
  border: 1px solid #ffffff;
  padding: 0.5rem 1.25rem;
  background-color: transparent;
  transition: 0.3s all;
}
.decor-header__button:hover {
  background-color: #ff2e51;
  border-color: #ff2e51;
}